@primary-color: seashell;
@primary-bg: #1A4D48;
@accent-color: #54ac8e;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

body {
  color: @primary-color;
  background: @primary-bg;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: @accent-color;
}

.page-title {
  text-align: center;
}

.sidebar, .content {
  padding-left: 1em;
  padding-right: 1em;
  float: left;
  height: 100%;
}

.sidebar {
  border-right: solid 1px;
}